.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
TODO.txt
HOWTO_jpp.md
**/.mypy_cache
**/.pytest_cache
**/.metals
